body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.posts-wrapper {
	padding: 30px;
}
.post {
	padding: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #c1c1c1;
}
.post-body {
	padding: 10px;
	background-color: rgb(226, 222, 222);
	border-radius: 4px;
}